@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  @apply bg-gradient-to-b from-purple-800 to-black min-h-screen text-white;
  font-family: 'Inter', sans-serif;
}

h1 {
  @apply text-4xl font-bold leading-tight;
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-800 cursor-pointer transition-colors duration-300;
}
button:hover {
  @apply border-indigo-500;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
